@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    The project consists of a system
    system that allows teachers to register questions on any subject and generate simulations containing
    previously registered questions.
</p>
