@model Queue<Simulator.Models.User>

@{
    ViewData["Title"] = "Queue";
}

<h1>Queue</h1>

<ul>
    @foreach (var user in Model)
    {
        <li>@user.Name</li>
    }
</ul>

<p>
    <a asp-action="Index" type="button" class="btn btn-primary">Back to Index</a>
</p>
